{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
<main role="main">

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <img src="uploads/logo-wwf-2019.png" alt="West Web Festival">
                </div>
                <div class="col-md-8">
                    <h1>{{ event.title }}</h1>
                    <span class="badge badge-pill badge-secondary" data-toggle="tooltip" data-placement="top" title="Ville">
                        <i class="fa fa-map-pin"></i>
                        Carhaix
                    </span>
                    <span class="badge badge-pill badge-secondary" data-toggle="tooltip" data-placement="top" title="Dates">
                        <i class="fa fa-calendar"></i>
                        18-19 juillet 2019
                    </span>
                    <span class="badge badge-pill badge-secondary" data-toggle="tooltip" data-placement="top" title="Participants">
                        <i class="fa fa-users"></i>
                        16
                    </span>
                    <a href="https://www.west-web-festival.fr" class="badge badge-pill badge-primary" data-toggle="tooltip" data-placement="top" title="Site internet">
                        <i class="fa fa-globe"></i>
                        Site internet
                    </a>
                    <span class="badge badge-pill badge-secondary" data-toggle="tooltip" data-placement="top" title="Prix">
                        <i class="fa fa-euro"></i>
                        398
                    </span>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis, expedita facere id itaque iusto nam neque nesciunt odit, praesentium quam quasi, vitae. Aperiam aspernatur autem ipsam maxime perferendis, sint!</p>

                    <a href="#" class="btn btn-primary btn-lg">J'y vais !</a>

                </div>
            </div>

        </div>
    </div>

</main>
